<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>AURA - Landing Page</title>
</head>
<body>
    <h1>Bem-vindo ao AURA</h1>
    <p>Assistente Inteligente para artigos científicos</p>

    <a href="/login">
    <button>Login</button>
        
    <a href="/cadastro">
    <button>Cadastre-se</button>

    <a href="/geraresumo">
    <button>geraresumo</button>

    <a href="/audio">
    <button>audio</button>

    <a href="/selecionar">
    <button>selecionar</button>

    <a href="/perguntas">
    <button>Perguntas</button>

    <a href="/classificar">
    <button>classificar</button>

    <a href="/citacoes">
    <button>citacoes</button>
    </a>
</body>
</html>
