<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Aura</title>
</head>
<body>

  <h1>Leitor de Artigos</h1>
  <h2>Revisão Sistemática de Artigos Científicos</h2>

  <div class="upload-box">
    <img src="imgs/arquivo.png" alt="Ícone de upload">
    <a href="#" class="btn-upload">Selecione um arquivo</a>
    <p>Ou arraste e solte o arquivo aqui para resumir o artigo</p>
  </div>

</body>
</html>
