<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gerar Perguntas</title>
  <link rel="stylesheet" href="../static/css/styleperguntas.css" type="text/css">
</head>
<body>
  <a href="javascript:history.back()" class="back-arrow"></a>
  <main class="container">

    <form method="POST" action="/perguntas">
    <!-- Título e descrição -->
    <h1 class="titulo">Gerar Perguntas</h1>
    <p class="descricao">Crie perguntas de estudo com base no conteúdo do seu trabalho de pesquisa.</p>

      <!-- PDF Card -->
<div class="pdf-card">
  <div class="pdf-card-left">
    <img src="../static/imgs/pdf-icon.png" alt="PDF Icon" class="pdf-icon">
    <p id="fileNameDisplay">Artigo-científico.pdf</p>
  </div>
  <div class="pdf-card-right">
    <span class="pdf-size">0,33 MB</span>
    <a href="{{ url_for('static', filename='pdf/artigocient.pdf') }}" target="_blank" class="btn-pdf">
      Visualizar documento
    </a>
  </div>
</div>



<form method="POST" action="/perguntas">
{% for p in perguntas %}
<section class="pergunta" data-resposta-correta="{{ p.resposta_correta }}">
  <h2>{{ p.pergunta }}</h2>
  <ul>
    {% for letra, alt in p.alternativas.items() %}
    <li data-resposta="{{ letra }}">{{ letra }}) {{ alt }}</li>
    {% endfor %}
  </ul>
</section>
{% endfor %}

  <button type="submit">Enviar respostas</button>
</form>

<script>
  const itens = document.querySelectorAll('.pergunta ul li');

  itens.forEach(item => {
    item.addEventListener('click', () => {
      const lista = item.parentElement.querySelectorAll('li');
      lista.forEach(li => li.classList.remove('verde', 'vermelho'));

      const letra = item.dataset.resposta.toUpperCase();
      const respostaCorreta = item.closest('section').dataset.respostaCorreta;

      if (letra === respostaCorreta) {
        item.classList.add('verde');
      } else {
        item.classList.add('vermelho');
      }
    });
  });
</script>



  </main>
  </form>
</body>
</html>
