<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Selecionar Resumo</title>
    <link
      rel="stylesheet"
      href="../static/css/styleselecionar.css"
      type="text/css"
    />
  </head>
  <body>
    <a href="javascript:history.back()" class="back-arrow"></a>
    <!-- Formulário de login -->
    <form method="POST" action="/geraresumo">
      <h1 class="titulo-resumo">Selecionar resumo</h1>
      <p class="subtitulo-resumo">
        Detecte e extraia automaticamente o resumo do seu artigo de pesquisa.
      </p>

      <div class="pdf-card">
        <div class="pdf-card-left">
          <img
            src="../static/imgs/pdf-icon.png"
            alt="PDF Icon"
            class="pdf-icon"
          />
          <p id="fileNameDisplay">Artigo-científico.pdf</p>
        </div>
        <div class="pdf-card-right">
          <span class="pdf-size">0,33 MB</span>
          <a
            href="{{ url_for('static', filename='pdf/artigocient.pdf') }}"
            target="_blank"
            class="btn-pdf"
          >
            Visualizar documento
          </a>
        </div>
      </div>

      <div class="resumo">
        <h1 class="titulo-resumo">Resumo</h1>
        <p>{{ resumo }}</p>

        <h1 class="titulo-resumo">Palavras-Chave</h1>
        <div class="palavras-chaves">
          {% for kw in palavras_chave %}
          <span class="keyword">{{ kw }}</span>
          {% endfor %}
        </div>
      </div>
    </form>

    <script>
      const fileName = sessionStorage.getItem("uploadedFileName");
      if (fileName) {
        document.getElementById("fileNameDisplay").textContent = fileName;
      }
    </script>
  </body>
</html>
